html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    background: #fffcfcba;
    color: #000000;
    line-height: 1.6;
}

.header {
    background: #000;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.logo-main {
    color: #fff;
}

.logo-sub {
    color: #aaa;
    margin-left: 4px;
    font-weight: 400;
}

.nav a {
    margin-left: 22px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero p {
    color: #000000;
    margin: 15px 0 30px;
}

.btn {
    padding: 14px 36px;
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.products {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}

.products h2 {
    text-align: center;
    margin-bottom: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.product-card {
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-style: preserve-3d;
}

.product-card:hover {
    transform: perspective(1000px) rotateX(8deg) rotateY(-8deg) translateY(-10px);
    box-shadow: 0 25px 50px rgb(237, 237, 237);
}

.product-card img {
    width: 100%;
    margin-bottom: 0;
}

.product-card p {
    color: #555;
    font-size: 14px;
}

.price {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.card-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 26px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.card-btn:hover {
    background: #000000;
    color: #fff;
}

.contact {
    padding: 80px 20px;
    text-align: center;
    border-top: 1px solid #222;
}

.contact p {
    color: #aaa;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-info div {
    max-width: 220px;
}

.footer {
    padding: 30px;
    text-align: center;
    border-top: 1px solid #d7d6d6;
    color: #777;
    background: #000000;
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 28px;
    }

    .nav {
        display: none;
    }
}
